nav {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #353b48;
}

a {
    text-decoration: none;
}

.ff {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5vw;
}

.ff a {
    color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 0.2rem 0.7rem;
}

.nav-list {
    display: inline-block;
    margin-left: 5%;
    position: absolute;
    bottom: 0;
}

.nav-list ul {
    list-style: none;
    display: inline-block;
}

.nav-list ul li {
    display: inline-block;
}

.nav-list ul li a {
    color: #c1cdd8;
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
}

.nav-list ul li a:hover {
    color: #2194f3;
}

.active {
    color: #2194f3 !important;
}

.active ~ span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2194f3;
    margin-top: 4px;
}
